listen_addresses = 			       '$(@@@m_coor_hostip@@@)'
port = 						$(@@@b_coor_port@@@)
max_connections = 				$(@@@b_coor_mx_conn@@@)
shared_buffers = 				$(@@@b_coor_shbuff@@@)
checkpoint_segments = 				$(@@@b_coor_chkseq@@@)
logging_collector = on
log_timezone = 'ROC'
datestyle = 'iso, mdy'
timezone = 'ROC'
lc_messages = 'en_US.utf8'
lc_monetary = 'en_US.utf8'
lc_numeric = 'en_US.utf8'
lc_time = 'en_US.utf8'
default_text_search_config = 'pg_catalog.english'
pooler_port = 					$(@@@b_coor_pooler_port@@@)
max_pool_size = 				$(@@@b_coor_mx_pool@@@)
max_coordinators = 				$(@@@b_coor_mx_coor@@@)
max_datanodes = 				$(@@@b_coor_mx_dn@@@)
gtm_host = 				       '$(@@@m_coor_gtmprx@@@)'
gtm_port = 					$(@@@b_coor_gtmprx_port@@@)
pgxc_node_name = 			       '$(@@@m_coor_pgxcnodename@@@)'

