listen_addresses = 				       '@@@m_dn_hostip@@@'
port = 							@@@b_dn_port@@@
max_connections = 					@@@b_dn_mx_conn@@@
shared_buffers = 					@@@b_dn_shbuff@@@
work_mem = 						@@@b_dn_wkmem@@@
maintenance_work_mem = 					@@@b_dn_maintain_mem@@@
checkpoint_segments = 					@@@b_dn_chkseg@@@
effective_cache_size = 					@@@b_dn_cache_size@@@
logging_collector = on
log_timezone = 'ROC'
datestyle = 'iso, mdy'
timezone = 'ROC'
lc_messages = 'en_US.utf8'
lc_monetary = 'en_US.utf8'
lc_numeric = 'en_US.utf8'
lc_time = 'en_US.utf8'
default_text_search_config = 'pg_catalog.english'
pooler_port = 						@@@b_dn_pooler_port@@@
max_pool_size = 					@@@b_dn_mx_pool@@@
max_coordinators = 					@@@b_dn_mx_coor@@@
max_datanodes = 					@@@b_dn_mx_dn@@@
gtm_host = 					       '@@@m_dn_gtmprx@@@'
gtm_port = 						@@@b_dn_gtmprx_port@@@
pgxc_node_name = 				       '@@@m_dn_pgxcnodename@@@'

